<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avalani.kyle.finalsgradecalculator"
    android:versionName="Finals Grade Calculator"
    android:versionCode="3">
    <application
        android:allowBackup="true"
        android:icon="@drawable/new_calculator"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".WelcomeSreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name=".MyClasses">
        </activity>
        <activity
            android:name=".SettingsActivity">
        </activity>

    </application>

</manifest>
